GestionTramites/Dominio/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGrupoTramite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GrupoTramite" nillable="true" type="tns:GrupoTramite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrupoTramite" nillable="true" type="tns:ArrayOfGrupoTramite" />
  <xs:complexType name="GrupoTramite">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadMaxFuncionarios" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="tns:Grupo" />
      <xs:element minOccurs="0" name="grupoFuncionarios" nillable="true" type="tns:ArrayOfUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrupoTramite" nillable="true" type="tns:GrupoTramite" />
  <xs:complexType name="Grupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupo" nillable="true" type="tns:Grupo" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="tns:Grupo" />
      <xs:element minOccurs="0" name="TipoPerfil" type="tns:EnumPerfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:simpleType name="EnumPerfil">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoAutorizado" />
      <xs:enumeration value="Admin" />
      <xs:enumeration value="FuncionarioMantenimiento" />
      <xs:enumeration value="Anonimo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumPerfil" nillable="true" type="tns:EnumPerfil" />
</xs:schema>