nop/evisar respaldo cosas/GestionTramites/InterfazWeb/Service References/ServiceRef/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_WCFAddGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFAddGrupo" />
  </wsdl:message>
  <wsdl:message name="IService_WCFAddGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFAddGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFAddTramite_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFAddTramite" />
  </wsdl:message>
  <wsdl:message name="IService_WCFAddTramite_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFAddTramiteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGuardarTxt_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFGuardarTxt" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGuardarTxt_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFGuardarTxtResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Prueba_WCF_InputMessage">
    <wsdl:part name="parameters" element="tns:Prueba_WCF" />
  </wsdl:message>
  <wsdl:message name="IService_Prueba_WCF_OutputMessage">
    <wsdl:part name="parameters" element="tns:Prueba_WCFResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="WCFAddGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFAddGrupo" message="tns:IService_WCFAddGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFAddGrupoResponse" message="tns:IService_WCFAddGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFAddTramite">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFAddTramite" message="tns:IService_WCFAddTramite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFAddTramiteResponse" message="tns:IService_WCFAddTramite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFGuardarTxt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFGuardarTxt" message="tns:IService_WCFGuardarTxt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFGuardarTxtResponse" message="tns:IService_WCFGuardarTxt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Prueba_WCF">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Prueba_WCF" message="tns:IService_Prueba_WCF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Prueba_WCFResponse" message="tns:IService_Prueba_WCF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WCFAddGrupo">
      <soap:operation soapAction="http://tempuri.org/IService/WCFAddGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFAddTramite">
      <soap:operation soapAction="http://tempuri.org/IService/WCFAddTramite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFGuardarTxt">
      <soap:operation soapAction="http://tempuri.org/IService/WCFGuardarTxt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prueba_WCF">
      <soap:operation soapAction="http://tempuri.org/IService/Prueba_WCF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:58486/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>