GestionTramites/InterfazWeb/Service References/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:element name="WCFAddGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreGrupo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFAddGrupoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="costo" type="xs:double" />
        <xs:element minOccurs="0" name="tiempo" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="gruposTramite" nillable="true" type="q1:ArrayOfGrupoTramite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddTramiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFAddTramiteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFGuardarTxtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>