GestionTramites/InterfazWeb/Connected Services/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_WCFAddGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFAddGrupo" />
  </wsdl:message>
  <wsdl:message name="IService_WCFAddGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFAddGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFAddTramite_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFAddTramite" />
  </wsdl:message>
  <wsdl:message name="IService_WCFAddTramite_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFAddTramiteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGuardarTxt_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFGuardarTxt" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGuardarTxt_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFGuardarTxtResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFExisteNombreTramite_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFExisteNombreTramite" />
  </wsdl:message>
  <wsdl:message name="IService_WCFExisteNombreTramite_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFExisteNombreTramiteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGetGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFGetGrupo" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGetGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFGetGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFListarGrupos_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFListarGrupos" />
  </wsdl:message>
  <wsdl:message name="IService_WCFListarGrupos_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFListarGruposResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFObtenerGrupoPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFObtenerGrupoPorId" />
  </wsdl:message>
  <wsdl:message name="IService_WCFObtenerGrupoPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFObtenerGrupoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFEditGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFEditGrupo" />
  </wsdl:message>
  <wsdl:message name="IService_WCFEditGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFEditGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_WCFValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGetNombreCompleto_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFGetNombreCompleto" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGetNombreCompleto_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFGetNombreCompletoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFListarGruposVacios_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFListarGruposVacios" />
  </wsdl:message>
  <wsdl:message name="IService_WCFListarGruposVacios_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFListarGruposVaciosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFEliminarGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFEliminarGrupo" />
  </wsdl:message>
  <wsdl:message name="IService_WCFEliminarGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFEliminarGrupoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="WCFAddGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFAddGrupo" message="tns:IService_WCFAddGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFAddGrupoResponse" message="tns:IService_WCFAddGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFAddTramite">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFAddTramite" message="tns:IService_WCFAddTramite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFAddTramiteResponse" message="tns:IService_WCFAddTramite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFGuardarTxt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFGuardarTxt" message="tns:IService_WCFGuardarTxt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFGuardarTxtResponse" message="tns:IService_WCFGuardarTxt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFExisteNombreTramite">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFExisteNombreTramite" message="tns:IService_WCFExisteNombreTramite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFExisteNombreTramiteResponse" message="tns:IService_WCFExisteNombreTramite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFGetGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFGetGrupo" message="tns:IService_WCFGetGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFGetGrupoResponse" message="tns:IService_WCFGetGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFListarGrupos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFListarGrupos" message="tns:IService_WCFListarGrupos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFListarGruposResponse" message="tns:IService_WCFListarGrupos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFObtenerGrupoPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFObtenerGrupoPorId" message="tns:IService_WCFObtenerGrupoPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFObtenerGrupoPorIdResponse" message="tns:IService_WCFObtenerGrupoPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFEditGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFEditGrupo" message="tns:IService_WCFEditGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFEditGrupoResponse" message="tns:IService_WCFEditGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFValidarUsuario" message="tns:IService_WCFValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFValidarUsuarioResponse" message="tns:IService_WCFValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFGetNombreCompleto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFGetNombreCompleto" message="tns:IService_WCFGetNombreCompleto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFGetNombreCompletoResponse" message="tns:IService_WCFGetNombreCompleto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFListarGruposVacios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFListarGruposVacios" message="tns:IService_WCFListarGruposVacios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFListarGruposVaciosResponse" message="tns:IService_WCFListarGruposVacios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFEliminarGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFEliminarGrupo" message="tns:IService_WCFEliminarGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFEliminarGrupoResponse" message="tns:IService_WCFEliminarGrupo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WCFAddGrupo">
      <soap:operation soapAction="http://tempuri.org/IService/WCFAddGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFAddTramite">
      <soap:operation soapAction="http://tempuri.org/IService/WCFAddTramite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFGuardarTxt">
      <soap:operation soapAction="http://tempuri.org/IService/WCFGuardarTxt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFExisteNombreTramite">
      <soap:operation soapAction="http://tempuri.org/IService/WCFExisteNombreTramite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFGetGrupo">
      <soap:operation soapAction="http://tempuri.org/IService/WCFGetGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFListarGrupos">
      <soap:operation soapAction="http://tempuri.org/IService/WCFListarGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFObtenerGrupoPorId">
      <soap:operation soapAction="http://tempuri.org/IService/WCFObtenerGrupoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFEditGrupo">
      <soap:operation soapAction="http://tempuri.org/IService/WCFEditGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/WCFValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFGetNombreCompleto">
      <soap:operation soapAction="http://tempuri.org/IService/WCFGetNombreCompleto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFListarGruposVacios">
      <soap:operation soapAction="http://tempuri.org/IService/WCFListarGruposVacios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFEliminarGrupo">
      <soap:operation soapAction="http://tempuri.org/IService/WCFEliminarGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:58486/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>